.button{
    -fx-font: 18 arial;
    -fx-base: #b6e7c9;
}

#welcome-text {
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#inputArea{
    -fx-font-size: 15px;
}

#outputArea{
    -fx-font-size: 16px;
    -fx-font-family: "微软雅黑";
}
